<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
    <h1>Add New Skill</h1>
    <form action="/skill/insert" method="get">
        Skill: <input id="skill_name" name="skill_name" type="text" />
        <br />
        Description: <input id="skill_description" name="skill_description" type="text" />
        <br />
        <br />


        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>