<%- include("../includes/header.ejs", {title: "Update " + skill[0].skill_name}); %>

<h1>Update <%= skill[0].skill_name%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill[0].skill_id %>">
    Skill Name: <input id="skill_name" name="skill_name" type="text" value="<%= skill[0].skill_name%>"/>
    <br />
    Description: <input id="skill_description" name="skill_description" type="text" value="<%= skill[0].description%>"/>
    <br />


    <!-- Initialize the multiselect plugin: -->


    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>