<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
    <h1>Add New Address</h1>
    <form action="/address/insert" method="get">
        Street: <input id="address_street" name="address_street" type="text" />
        <br />
        Zip Code: <input id="address_zip_code" name="address_zip_code" type="text" />
        <br />
        Address
        <br />


        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>